<div class="comments-row">
  <mat-form-field>
    <input [formControl]="commentControl" matInput placeholder="Laissez un commentaire..." type="text">
  </mat-form-field>
  <button (click)="onLeaveComment()" color="primary" mat-icon-button aria-label="send">
    <mat-icon>send</mat-icon>
  </button>
</div>

<mat-list *ngIf="comments.length">
  <h1 matSubheader>Commentaires</h1>
  <mat-list-item *ngFor="let comment of comments">
    <span matLine> {{ comment.comment | shorten: 40}}</span>
    <span matLine> {{ comment.createdDate | timeAgo}}</span>
  </mat-list-item>
</mat-list>
