<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <span highlight [color]="'#ec7878'">{{post.title}} </span>
      <!--<span highlight color="red">{{post.title}} </span>
      <span [highlight]="'red'">{{post.title}} </span>-->
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ post.createdDate | date: 'longDate'}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="post.imageUrl as imageUrl" [alt]="post.title" [src]="imageUrl" matCardImage>
    <span> {{ post.content | shorten}}</span>
  </mat-card-content>
  <mat-card-actions>
    <app-comments (newComment)="onNewComment($event)" [comments]="post.comments"></app-comments>
  </mat-card-actions>
</mat-card>

