<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <span [highlight]="'orange'">{{post.title}} </span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ post.createdDate | date: 'longDate'}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="post.imageUrl as imageUrl" [alt]="post.title.substring(0, 12)" [src]="imageUrl" matCardImage>
    <p> {{ post.content | shorten}}</p>
  </mat-card-content>
  <mat-card-actions>
    <app-comments (newComment)="onNewComment($event)" [comments]="post.comments"></app-comments>
  </mat-card-actions>
</mat-card>

